body {
  background-color: #BFACE0;
}

h1 {
  color: #645CAA;
}

h3 {
  color: #645CAA;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #645CAA;
  border-width: 8px;
  width: 10%;
}
div
{
  
}
